body {
	padding:0px;
	background:#f5f5f5;
}
.head {
	text-align:center;
}
.simplecalc {
	color:black;
	font-size:25px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}
.content {
  margin:20px;
}

